<div layout="column" layout-padding ng-cloak>

    <div>
        <span ng-if="!pinsCtl.readonly && pinsCtl.countPins!==pinsCtl.maxPins" class="board-text">Click on the pin on which you have connected {{pinsCtl.currentLabel}}:</span>
        <span ng-if="!pinsCtl.readonly && pinsCtl.countPins===pinsCtl.maxPins" class="board-text">All pins are configured</span>
        <span ng-if="pinsCtl.readonly" class="board-text board-text-readonly">Readonly: update disabled</span>
    </div>

    <div class="board-rev{{pinsCtl.revision}}">
        <!--<div class="pin-board-readonly" ng-if="pinsCtl.readonly"></div>-->
        <div class="pin-board-rev{{pinsCtl.revision}}">
            <div ng-click="pinsCtl.click(pin)" style="background-color: {{pin.color}} !important;" class="default-pin" ng-repeat="pin in pinsCtl.odds" ng-class="{'pin-dnc':pin.dnc, 'pin-5v':pin.v5, 'pin-33v':pin.v33, 'pin-gnd':pin.gnd, 'pin-assigned':pin.assigned, 'pin-selected':pin.selected, 'pin-gpio':pin.gpio}">
                <md-tooltip ng-if="pin.v33" md-direction="top">Pin#{{pin.pin}} +3.3v</md-tooltip>
                <md-tooltip ng-if="pin.v5" md-direction="top">Pin#{{pin.pin}} +5.0v</md-tooltip>
                <md-tooltip ng-if="pin.gnd" md-direction="top">Pin#{{pin.pin}} Ground</md-tooltip>
                <md-tooltip ng-if="pin.gpio && pin.owner" md-direction="top">Pin#{{pin.pin}} {{pin.name}} - Assigned by {{pin.owner}}</md-tooltip>
                <md-tooltip ng-if="pin.gpio && !pin.owner" md-direction="top">Pin#{{pin.pin}} {{pin.name}}</md-tooltip>
                <md-tooltip ng-if="pin.dnc" md-direction="top">Pin#{{pin.pin}} Do not use</md-tooltip>
                <span ng-if="pin.v33">3.3</span>
                <span ng-if="pin.v5">5</span>
            </div>
            <div ng-click="pinsCtl.click(pin)" style="background-color: {{pin.color}} !important;" class="default-pin" ng-repeat="pin in pinsCtl.evens" ng-class="{'pin-dnc':pin.dnc, 'pin-5v':pin.v5, 'pin-33v':pin.v33, 'pin-gnd':pin.gnd, 'pin-assigned':pin.assigned, 'pin-selected':pin.selected, 'pin-gpio':pin.gpio}">
                <md-tooltip ng-if="pin.v33" md-direction="bottom">Pin#{{pin.pin}} +3.3v</md-tooltip>
                <md-tooltip ng-if="pin.v5" md-direction="bottom">Pin#{{pin.pin}} +5.0v</md-tooltip>
                <md-tooltip ng-if="pin.gnd" md-direction="bottom">Pin#{{pin.pin}} Ground</md-tooltip>
                <md-tooltip ng-if="pin.gpio && pin.owner" md-direction="bottom">Pin#{{pin.pin}} {{pin.name}} - Assigned by {{pin.owner}}</md-tooltip>
                <md-tooltip ng-if="pin.gpio && !pin.owner" md-direction="bottom">Pin#{{pin.pin}} {{pin.name}}</md-tooltip>
                <md-tooltip ng-if="pin.dnc" md-direction="bottom">Pin#{{pin.pin}} Do not use</md-tooltip>
                <span ng-if="pin.v33">3.3</span>
                <span ng-if="pin.v5">5</span>
            </div>
        </div>
    </div>

    <div layout="row">
        <div ng-repeat="info in pinsCtl.pinInfos" layout="row">
            <div style="background-color:{{info.color}}; width:15px; height:15px; border-radius:50%; margin-right:5px;"></div>
            <div>
                <span class="board-text" ng-class="{'board-text-readonly':pinsCtl.readonly}">{{info.label}}</span>
            </div>
            <div style="width:15px;"></div>
        </div>
    </div>

</div>

