<md-dialog aria-label="Add gpio dialog" flex="50">

    <form ng-cloak>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!gpiosCtl.updateDevice">Add new gpio</h2>
                <h2 ng-if="gpiosCtl.updateDevice">Update gpio</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="gpiosCtl.cancelDialog()" aria-label="Close dialog">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
        <div class="md-dialog-content">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input ng-model="gpiosCtl.name">
            </md-input-container>
            <div>
                <div gpios-pins-config readonly="gpiosCtl.updateDevice" selected-gpios="gpiosCtl.selectedGpios"></div>
            </div>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Mode</label>
                <md-select ng-model="gpiosCtl.mode" ng-disabled="gpiosCtl.updateDevice">
                    <md-option value="input">Input</md-option>
                    <md-option value="output">Output</md-option>
                </md-select>
            </md-input-container>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <md-checkbox ng-model="gpiosCtl.keep" aria-label="Save state">
                        Save state to restore it after reboot?
                    </md-checkbox>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <md-checkbox ng-model="gpiosCtl.inverted" aria-label="Inverted state">
                        Gpio state is inverted?
                    </md-checkbox>
                </md-input-container>
            </div>
        </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="gpiosCtl.closeDialog()" aria-label="Add or update device" class="md-primary">
                <span ng-if="!gpiosCtl.updateDevice">Add gpio</span>
                <span ng-if="gpiosCtl.updateDevice">Update gpio</span>
            </md-button>
        </md-dialog-actions>

    </form>

    <span>{{gpiosCtl.config.raspi_gpios}}</span>

</md-dialog>

